---
layout: default
permalink: /d/
---

<div style="font-size: x-large">
  <strong>Documentation of projects</strong>
</div>

<h3>Artificial Intelligence</h3>

<ul>
  {% for project in site.projects | where: project.sub, "AI" | group_by: "tag"
  %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>

<h3>Electronics</h3>

<ul>
  {% for project in site.projects | where: project.sub, "ELE" | group_by: "tag"
  %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>

<h3>Mechnical</h3>

<ul>
  {% for project in site.projects | where: project.sub, "MECH" | group_by: "tag"
  %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>
