---
layout: default
permalink: /d/
---

<strong>Documentation of projects</strong>

<ul>
    {% for project in site.projects %}
    <li> <a href="{{ site.baseurl }}/d/{{ project.title }}">{{ project.title }}</a> </li>
</ul>


<!-- <div class="posts"> -->
<!--   {% for post in site.posts %} -->
<!--     <article class="post"> -->
<!--  -->
<!--       <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1> -->
<!--  -->
<!--       <div class="entry"> -->
<!--         {{ post.excerpt }} -->
<!--       </div> -->
<!--  -->
<!--       <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a> -->
<!--     </article> -->
<!--   {% endfor %} -->
<!-- </div> -->
