---
layout: default
permalink: /d/
---

<div style="font-size: x-large">
  <strong>Documentation of projects</strong>
</div>

<h2>Artificial Intelligence</h2>

<ul>
  {% for project in site.projects | where: "sub", "AI" | group_by: "tag" %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>

<h2>Electronics</h2>

<ul>
  {% for project in site.projects | where: "sub", "ELE" | group_by: "tag" %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>

<h2>Mechnical</h2>

<ul>
  {% for project in site.projects | where: "sub", "MECH" | group_by: "tag" %}
  <li>
    <a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a>
  </li>
  {% endfor %}
</ul>
